.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-size: 32px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}